$font-family: var(--font-family-default);

@function color($color, $variant-offset: 0) {
  @if(type-of(nth($color, 1)) == 'color') {
    @debug 'missing color for #{$color}';
    @return $color;
  }
  @if($color == 'black') {
    @return var(--black);
  }
  @if ($color == 'white') {
    @return var(--white);
  }
  @if (length($color) == 2) {
    @return var(--colorPalettes-#{nth($color, 1)}-#{nth($color, 2) + $variant-offset});
  }
  @return var(--colorPalettes-#{nth($color, 1)}-#{500 + $variant-offset});
}

@mixin default-font-style {
  font-weight: var(--font-weight-default);
  font-stretch: var(--font-stretch-default);
  font-style: var(--font-style-default);
  letter-spacing: var(--letter-spacing-default);
  font-family: $font-family;
}
