@import 'common';

@mixin dialog-button($background-color, $color: 'black') {
  text-transform: none;
  background-color: color($background-color);
  color: color($color);

  &:hover {
    background-color: color($background-color, 100);
  }
}

@mixin dialog-button-label($color: 'black') {
  @include default-font-style;
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: color($color);
}

@mixin dialog-title-font {
  @include default-font-style;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  color: color('gray' 800);
  text-align: left;
}

@mixin dialog-title-bar {
  .titlebar {
    display: flex;
    text-align: left;
    color: color('gray' 800);

    height: 72px;
    padding: 0;
    margin: 0;

    .title {
      @include dialog-title-font;
      height: 24px;
      margin: 24px;
      flex: 1 1;
    }

    .closeButton {
      width: 48px;
      height: 48px;
      margin: 12px;
      padding: 0;
    }

    .closeLabel {
      width: auto;
    }

    .closeIcon {
      width: 24px;
      height: 24px;
    }
  }
}

@mixin dialog-content {
  .paper {
    max-width: 480px;
  }

  .content {
    text-align: left;
    padding: 0 24px;
    display: flex;

    .text {
      @include default-font-style;
      font-size: 14px;
      color: color('gray' 800);
      line-height: 24px;
    }

    .icon {
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }
  }
}

@mixin dialog-actions {
  .dialog {
    .actions {
      justify-content: flex-start;
      height: 104px;
      padding: 0;
    }

    .resetButton {
      @include dialog-button('gray' 100, #4c4c4c);

      box-sizing: border-box;
      width: 176px;
      margin: 40px 24px 24px 24px;
      height: 40px;
      border-radius: var(--radius-sm);
      border: solid 1px #8c8c8c;
    }

    .resetButtonLabel {
      @include dialog-button-label;
    }

    .submitButton {
      @include dialog-button('green' 500);
      margin: 40px 24px 24px auto;
      width: 176px;
      height: 40px;
      border-radius: var(--radius-sm);
    }

    .submitButtonLabel {
      @include dialog-button-label('white');
    }

    @content;
  }
}
