@import '../../common/styles/dialogs';

.fileUploadButton {
  @include dialog-button('green' 500, 'black');
  margin: 16px;
  width: 220px;
  height: 40px;
  border-radius: var(--radius-sm);

  .uploadButtonLabel {
    @include dialog-button-label('white');
  }
}
