.uploadButtonWrapper {
  .fileUploadButton {

    .uploadButton{
      background: #39af39;
      margin: 16px;
      width: 220px;
      height: 40px;
      border-radius: 4px;

    }
    .uploadButton:hover{
        box-shadow: 2px 4px #e8e8e8;
        background: #35a435;
    }

    .uploadButtonLabel {
      color: white;
    }
  }
}
